cmake==3.27.9
gym==0.25.2
gym-notices==0.0.8
numpy==1.25.2
pip-tools==6.13.0
psutil==5.9.5
pygame==2.1.0
python-utils==3.8.2
scikit-image==0.19.3
scikit-learn==1.2.2
tensorflow==2.15.0
setuptools==69.1.1
matplotlib==3.5.1
imageio-ffmpeg==0.4.9